@import '../../../../global.scss';

//Portfolio Div CSS:
.portfolio_div{
    margin: 5rem 0rem;

    @media screen and (max-width: 640px){
        margin: 5rem 0rem;
    }

    .portfolio_title{
        margin: 2rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;

        hr{
            margin: 0px 20px;

            @media screen and (max-width: 640px){
                margin: 0px 10px;
            }
        }
        
        h3{
            font-weight: 700;
            letter-spacing: 3px;
            opacity: 0.75;
            
        }
    }

    .title{
        color: $color-5;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 1rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media screen and (max-width: 640px){
            justify-content: center;
        }
    
        h5{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            
            svg{
                margin: 0px 10px;
            }
        }
    
    }
}




