@import '../../../../global.scss';

//Default webdev_project template:
.webdev_project{
    width: 85rem;
    background: linear-gradient( rgb(250, 247, 247),rgb(237, 241, 243));
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 1rem;

    @media screen and (max-width: 640px){
        box-shadow: 0 5px 10px rgba(90, 90, 90, 0.26);
    }

        .project_des{
            max-width: 35rem;
            padding: 5rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 640px){
                padding: 1rem 0.5rem;
            }

            h5{
                font-weight: 900;
                color: $color-1;
                font-size: 1.1rem;

                @media screen and (max-width: 640px){
                    font-size: 0.9rem;
                }
            }

            h2{
                font-weight: 700;
                margin: 1rem 0rem;
                color: $color-5;

                @media screen and (max-width: 640px){
                    font-size: 1.3rem;
                    margin: 0.5rem 0rem;
                }
            }

            p{
                margin: 1rem 0rem;

                @media screen and (max-width: 640px){
                    font-size: 0.8rem;
                    margin: 0.5rem 0rem;
                }
            }

            .project_tags{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 2rem 0rem;
                justify-content: space-between;

                @media screen and (max-width: 640px){
                    margin: 1.5rem 0rem;
                    justify-content: space-evenly;
                }

                img{
                    width: 5rem;
                    height: 4rem;
                    opacity: 65%;
                    margin: 0.5rem;
                }

                p{
                    margin: 3px;
                    padding: 5px 10px;
                    background:rgb(94, 206, 94);
                    border: 0.5px solid rgba(0, 0, 0, 0.426);
                    border-radius: 50px;
                    color: white;
                    font-size: 0.9rem;

                    @media screen and (max-width: 640px){
                        font-size: 0.8rem;
                    }
                    
                }
            }

            .project_buttons{
                margin: 1rem 0rem;
                
                button{
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    color: rgb(255, 255, 255);
                    padding: 15px 50px;
                    font-size: 1rem;
                    text-decoration: none;
                    outline: none;
                    border: none;
                    font-weight: 500;
                    transition: all .1s ease-in-out;
    
                    
                }

                .web_button{
                    background: linear-gradient(50deg, rgb(126, 126, 115), rgb(118, 118, 112));
                    border-radius: 50px;

                    &:hover{
                        transform: translateY(-5%);
                        box-shadow: 0 5px 10px rgba(41, 41, 41, 0.26);
                    }
    
                    &:active{
                        transform: translateY(0%);
                        box-shadow: inset -2px -2px 3px rgb(248, 247, 247),
                                    inset 2px 2px 7px rgba(0, 0, 0, 0.233);
                    }
                    
                    @media screen and (max-width: 640px){
                        width: 100%;
                    }
                }

                .more_button{
                    border: 1px solid rgba(0, 0, 0, 0.433);
                    color: rgb(0, 0, 0);
                    background: none;

                    &:hover{
                        background-color: rgb(216, 216, 216);
                        color: white;
                    }

                    @media screen and (max-width: 640px){
                        width: 100%;
                    }
                }
            }
        }

        .project_img{
            padding: 4rem 0rem;
            display: flex;
            justify-content: center;
            max-width: 40rem;

            @media screen and (max-width: 640px){
                padding: 2rem 0rem 1rem 0rem;
            }

            img{
                width: 40rem;
                height: 28rem;

                @media screen and (max-width: 640px){
                    width: 20rem;
                    height: 15rem;
                }
            }
            
        }
}



//Webdev Portfolio section:
.portfolio_webdev{
    padding: 1rem 2rem;

    @media screen and (max-width: 640px){
        padding: 1rem 1.2rem;
    }
    

    .webdev_portfolios{
        display: flex;
        flex-direction: column;
        padding: 0 3vw;

        @media screen and (max-width: 640px){
            padding: 0;
        }
        

        .webdev_1{
            margin: 2rem;
            display: flex;
            justify-content: flex-start;

            @media screen and (max-width: 640px){
                margin: 1rem 0rem;
                justify-content: center;
            }

            .webdev_project{
                background: linear-gradient( rgb(250, 247, 247),rgb(237, 241, 243));

                @media screen and (max-width: 640px){
                    flex-wrap: wrap-reverse;
                    width: 100%;
                }

            }
        }

        .webdev_2{
            margin: 2rem;
            display: flex;
            justify-content: flex-end;

            @media screen and (max-width: 640px){
                margin: 1rem 0rem;
                justify-content: center;
            }

            .webdev_project{
                background: linear-gradient( rgb(250, 247, 247),rgb(245, 227, 227));
                flex-wrap: wrap;

                @media screen and (max-width: 640px){
                    flex-wrap: wrap;
                    width: 100%;
                }
            }
        }

        .webdev_3{
            margin: 2rem;
            display: flex;
            justify-content: flex-start;

            @media screen and (max-width: 640px){
                margin: 1rem 0rem;
                justify-content: center;
            }

            .webdev_project{
                background: linear-gradient( rgb(250, 247, 247),rgb(234, 242, 234));
                
                @media screen and (max-width: 640px){
                    flex-wrap: wrap-reverse;
                    width: 100%;
                }
            }
        }

        .more_work{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 35px;

            button{
                border: 1px solid rgba(0, 0, 0, 0.433);
                color: $color-4;
                background: none;
                padding: 10px 20px;
                border-radius: 10px;
                font-weight: 500;
                transition: all .1s ease;

                &:hover{
                    background-color: $color-4;
                    color: rgb(255, 255, 255);
                }

                @media screen and (max-width: 640px){
                    width: 100%;
                }
            }
        }

    }
}



//SVG: Code
.line-terminal1 {
    animation: line-terminal1-blink 1s infinite;
}
@keyframes line-terminal1-blink{
    0%{visibility: visible;}
    50%{visibility: hidden;}
    100%{visibility: hidden;}
}
@media (prefers-reduced-motion: reduce) {
    .line-terminal1 {
        animation: none;
    }
}