.header_div{
    background: rgb(255, 247, 231);
    padding: 10vw;
    background-image: url('../../../assets/header_img2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header_div img{
    max-width: 550px;
    opacity: 0.5;
}

.header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.header_text h1{
    font-size: 5rem;
    font-weight: 700;
}

.header_text .header_about{
    max-width: 40vw;
    font-size: large;
}

.header_title h1,
.header_title h2,
.header_about,
.header_button{
    padding-bottom: 10px;
}



@media screen and (max-width: 800px){
    .header_div{
        background-image: url('../../../assets/header_img_mobile2.png');
        background-size: 35rem;
        padding-bottom: 18rem;
    }

    .header_text{
        padding-left: 5vw;
    }

    .header_text h1{
        font-size: 3.5rem;
    }

    .header_text .header_about{
        max-width: fit-content;
        font-size: var(--font-size-p-mobile);
    }
}

@media screen and (max-width: 600px){
    .header_div{
        background-image: url('../../../assets/header_img_mobile2.png');
        background-size: 35rem;
    }

}