@import '../../../global.scss';

.header_div{
    background: linear-gradient( 180deg, rgb(248, 253, 253),rgb(167, 243, 214));
    margin: 3rem 0rem;
    border-radius: 0rem;
    padding-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 640px){
        margin: 1rem 0rem;
        border-radius: 0rem;

    }

    .header_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5vw;

        .header_title{
            h1{
                font-size: $desktop_h1_font;
                font-weight: 700;
            }

            h2{
                color: $red_text;
                font-size: $dekstop_h2_font;
            }
        }

    
        .header_about{
            max-width: 45rem;
            font-size: $dekstop_p_font;
            opacity: 0.85;
        }

        .header_button{
            button{
                color: rgb(255, 255, 255);
                padding: 15px 50px;
                font-size: 1rem;
                text-decoration: none;
                outline: none;
                border: none;
                background: linear-gradient(50deg, rgb(78, 167, 152), rgb(68, 192, 155));
                border-radius: 50px;
                font-weight: 500;
                transition: all .1s ease-in-out;

                &:hover{
                    transform: translateY(-5%);
                    box-shadow: 0 5px 10px rgba(41, 41, 41, 0.26);
                }

                &:active{
                    transform: translateY(0%);
                    box-shadow: inset -2px -2px 3px rgb(248, 247, 247),
                                inset 2px 2px 7px rgba(0, 0, 0, 0.233);
                }
            }
        }

        .header_title h1,
        .header_title h2,
        .header_about,
        .header_button{
            padding-bottom: 10px;
        }



    }

    .header_img{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;

        .img_container{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            float: right;

            img{
                width: $desktop_img_width;
                opacity: 1.0;
            }
        }
        
    }
}


/* Phone Size */
@media screen and (max-width: 640px){
    .header_div{
        padding-top: 7rem;
    
        .header_text{
            padding: 0rem 1.5rem;
    
            .header_title{
                h1{
                    font-size: $phone_h1_font;
                }
    
                h2{
                    font-size: $phone_h2_font;
                }
            }
    
            .header_about{
                font-size: $phone_p_font;
            }

            .header_button{
                display: flex;
                justify-content: center;

                button{
                    width: 90%;
                }
            }
    
        }
    
        .header_img{    
            .img_container{    
                img{
                    width: $phone_img_width;
                }
            }
            
        }
    }


}

/* Tablet Size */
@media screen and (max-width: 767px){


}