:root{
  --font-size-p-mobile: 15px;
}

body {
  font-family: 'Work Sans', serif;
  font-weight: 300;
  overflow-x: hidden;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Prata', serif;
 }

 p{
  font-family: 'Work Sans', serif;
 }


.app{
  height: 100vh;

  .sections{
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
  }
}

