//$header-wallpaper-color

$desktop_img_width: 750px;
$phone_img_width: 100vw;


$desktop_h1_font: 5rem;
$phone_h1_font: 3rem;

$dekstop_h2_font: 2.5rem;
$phone_h2_font: 1.8rem;

$dekstop_p_font: 1rem;
$phone_p_font: 0.9rem;

$red_text: rgb(216, 14, 14);


$color-1: rgb(186, 148, 77);
$color-2: #f5eae5;
$color-3: #BAB2B5;
$color-4: #30659e;
$color-5: #68273d;