.navbar{
    padding: 30px 10px;
    font-family: 'Prata';
    font-weight: 600;
    font-size: larger;
    background: rgb(247, 247, 232);
}

.navbar-brand{
    padding-left: 5vw;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar img{
    width: 170px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav{
    padding: 20px 30px;
}

.show,
.collapsing{
    text-align: center;
}

